html{
    min-height: 100%;
}

#banner{
    background: url("../images/turkeyrunplaceholder.jpg");
    height: 100vh;
    position: static;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    align-items: flex-end;
}

#name{
    Color: brown;
    font-weight: bolder;
}

.jumbotron{
    color: maroon;
}