*{
    color: maroon
}

html{
    min-height: 100%;
}

#banner{
    background: url("../images/matthewlipphardtbackground.jpg");
    height: 100vh;
    position: static;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    align-items: flex-end;
}

#name{
    font-weight: bolder;
}

div {
    opacity: 0;
    transition: opacity 2s;
    }
    
div.visible { 
    opacity: 1;
    }