*{
    color: maroon;
    font-size: large;
}

html{
    min-height: 100%;
}

#banner{
    background: url("../images/matthewlipphardtbackground.jpg");
    height: 100vh;
    position: static;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    align-items: flex-end;
}

.border{
    border-width: 3px !important;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #808080;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    font-size: 12px;
    border-top: 2px solid maroon;
}

#name{
    font-weight: bolder;
}

div {
    opacity: 0;
    transition: opacity 2s;
    }
    
div.visible { 
    opacity: 1;
    }